<%- include("./partials/homeHeader") -%>

<h1 class="home-header"><%= currentDate %></h1>

<div class="subject-box">
    <p><%= weekday %></p>
    <hr>

    <% newSubjectItems.forEach((item) => { %>
    <form action="/deleteSubject" method="POST" class="subject-delete-form">
        <div class="subject-block">
            <input type="checkbox" name="subjectDeleteCheckbox" onchange="this.form.submit()" value="<%= item._id %>">
            <a href="<%= "subjects" + "/" + item._id %>" target="_blank"><%= item.subjectNames %></a>
        </div>
    </form>
    <% }); %>

    <form action="/" method="POST" class="new-subject-form">
        <input type="text" name="newSubject" placeholder="Subject Name" onfocus="subjectInputFocus()"
            onblur="subjectInputBlur()" autocomplete="off" autofocus required>

        <button type="submit" name="newSubjectSubmit">+</button>
    </form>
</div>

<%- include("./partials/homeFooter") -%>