<%- include("./partials/homeHeader") -%>

<nav>
    <a href="/home" class="nav-home-link"><img src="./../images/favicon.ico" alt="logo"></a>

    <div class="hamburger-container">
        <div class="line-one"></div>
        <div class="line-two"></div>
        <div class="line-three"></div>

        <div class="toggle-one"></div>
        <div class="toggle-two"></div>
    </div>

    <ul>
        <% if (newSubjectItems.length > 0) { %>
        <% newSubjectItems.forEach((subjectItem) => { %>
        <li>
            <% if (subjectItem.subjectNames.length >= 25) { %>
            <a href="/home/subjects/<%= subjectItem._id %>"><%= subjectItem.subjectNames.slice(0, 26) + "..." %></a>
            <% } else { %>
            <a href="/home/subjects/<%= subjectItem._id %>"><%= subjectItem.subjectNames %></a>
            <% } %>
        </li>
        <% }); %>
        <% } else { %>
        <li class="no-work">Woo hoo! You have completed all your work!</li>
        <% } %>
    </ul>
</nav>

<h1 class="home-header"><%= currentDate %></h1>

<div class="subject-box">
    <p><%= weekday %></p>
    <hr>

    <% newSubjectItems.forEach((item) => { %>
    <form action="/deleteSubject" method="POST" class="subject-delete-form">
        <div class="subject-block">
            <input type="checkbox" name="subjectDeleteCheckbox" onchange="this.form.submit()" value="<%= item._id %>">

            <% if (item.subjectNames.length > 30) { %>
            <a href="<%= "subjects" + "/" + item._id %>"
                class="subject-link"><%= item.subjectNames.slice(0, 31) + "..." %></a>
            <% } else { %>
            <a href="<%= "subjects" + "/" + item._id %>" class="subject-link"><%= item.subjectNames %></a>
            <% } %>
        </div>
    </form>
    <% }); %>

    <form action="/home" method="POST" class="new-subject-form">
        <input type="text" name="newSubject" placeholder="Subject Name" onfocus="subjectInputFocus()"
            onblur="subjectInputBlur()" autocomplete="off" autofocus required>

        <button type="submit" name="newSubjectSubmit">+</button>
    </form>
</div>

<%- include("./partials/homeFooter") -%>